.header{
    width: 100%;
    padding: 25px 0 25px 0;
    background-color: rgba(51,51,51,1);
    
}
.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img{
    width: 250px;
}

.main-menu__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-menu__elem{
    font-family: 'Rubik', sans-serif;
    font-size: 1.3em;
    margin: 0 5px 0 5px;
    color: ghostwhite;
}
.main-menu__elem:hover{
    font-family: 'Rubik', sans-serif;
    margin: 0 5px 0 5px;
    color: rgb(87, 207, 255);
    transition: 150ms;
}