<div class="header">
  <div class="header__menu">
    <div class="logo">
      <a href="#"><img class="logo__img" src="assets/png/logo_horiz.png" alt="Investing"></a>
    </div>
    <div class="main-menu">
      <ol class="main-menu__list">
        <a href="#"><li class="main-menu__elem">Тарифы</li></a>
        <a href="#"><li class="main-menu__elem">Возможности</li></a>
        <a href="#"><li class="main-menu__elem">Войти</li></a>
        <a href="#"><li class="main-menu__elem">Регистрация</li></a>
      </ol>
    </div>
  </div>
</div>