<div class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__social">
        <img class="logo__img" src="assets/svg/logo_v.svg" alt="">
        <div class="social__icons">
          <a href="#"><img class="social__icon" src="assets/svg/icon_facebook.svg" alt=""></a>
          <a href="#"><img class="social__icon" src="assets/svg/icon_instagram.svg" alt=""></a>
          <a href="#"><img class="social__icon" src="assets/svg/icon_twitter.svg" alt=""></a>
          <a href="#"><img class="social__icon" src="assets/svg/icon_youtube.svg" alt=""></a>
        </div>
      </div>
      <div class="footer__menu1">
        <div class="menu__title">ПРОДУКТ</div>
        <a href=""><div class="menu__elem">Домашняя страница</div></a>
        <a href=""><div class="menu__elem">Тур</div></a>
        <a href=""><div class="menu__elem">Отзывы</div></a>
        <a href=""><div class="menu__elem">Тарифы</div></a>
      </div>
      <div class="footer__menu2">
        <div class="menu__title">О Investing Group</div>
        <a href=""><div class="menu__elem">Компания</div></a>
        <a href=""><div class="menu__elem">Вакансии</div></a>
        <a href=""><div class="menu__elem">Блог</div></a>
        <a href=""><div class="menu__elem">Инвестирование</div></a>
      </div>
      <div class="footer__menu3">
        <div class="menu__title">ПОМОЩЬ</div>
        <a href=""><div class="menu__elem">База знаний</div></a>
        <a href=""><div class="menu__elem">Видео туториалы</div></a>
        <a href=""><div class="menu__elem">Интеграции</div></a>
        <a href=""><div class="menu__elem">Разработчикам</div></a>
      </div>
    </div>
  </div>
</div>