.module-2__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.module-2__img{
    width: 500px;
}

.module-2__text{
    width: 700px;
}

.title{
    color: black;
    font-weight: normal;
    font-size: 45px;
    padding-bottom: 35px;
}

.about{
    color: black;
    font-weight: lighter;
    font-size: 20px;
}