<div class="module-1">
  <div class="container">
    <div class="module-1__content">
      <div class="module-1__leftSide">
        <div class="subTitle">УНИКАЛЬНЫЙ ПО СВОЕЙ ПРОЗРАЧНОСТИ</div>
        <div class="title">КЛУБ ИНВЕСТОРОВ</div>
      </div>
      <div class="module-1__rightSide">
        <form class="module-1__registrationForm" name="registrationForm" method="post">
            <input type="text" name="email_main" class="regForm" value="" placeholder="Ваш email" data-tilda-rule="email">
            <input type="password" name="password_main" class="regForm" value="" placeholder="Пароль" data-tilda-rule="password">
            <input type="password" name="password_conf" class="regForm" value="" placeholder="Подтверждение пароля" data-tilda-rule="email">
            <input type="text" name="partner_id" class="regForm" value="" placeholder="ID Партнера" data-tilda-rule="email">
            <input type="submit" value="Регистрация" class="regConfirm">
        </form>
      </div>
    </div>
  </div>
</div>