.module-1{
    background-color: gray;
    padding: 75px 0 75px 0;
    width: 100%;
}

.module-1__content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.subTitle{
    color: ghostwhite;
    font-weight: normal;
    font-size: 20px;
}

.title{
    font-weight: bolder;
    color: ghostwhite;
    font-size: 45px;
}

.module-1__registrationForm{
    display: flex;
    flex-direction: column;
}

.regForm{
    color:#000;
    border:1px solid #000;
    background-color:#fff;
    font-size:16px;
    height:15px;
    width: 400px;
    padding: 15px;
    margin-bottom: 14px;
}
.regConfirm{
    font-weight: lighter;
    font-size: 20px;
    background-color: rgb(17, 17, 17);
    color: ghostwhite;
    height: 60px;
    padding: 10px;
}