<div class="module-3">
  <div class="container">
    <div class="module-3__content">

      <div class="module-3__title">
        <div class="title">
          Мы поможем вам работать более эффективно
        </div>
        <div class="subTitle">
          Мы предлагаем вашей команде полный сет инструментов для создания лучших проектных решений
        </div>
      </div>
      
      <div class="module-3__blockZone">

        <div class="module-3__block">
          <img src="assets/svg/block_illustration.svg" class="block__icon">
          <div class="block__about">
            <div class="about__title">
              Работайте на любом устройстве
            </div>
            <div class="about__text">
              Интерфейс Gerda адаптивный. Теперь вы можете быть в курсе всех новостей по текущим проектам вне зависимости от вашего местоположения.
            </div>
          </div>
        </div>

        <div class="module-3__block">
          <img src="assets/svg/block_illustration1.svg" class="block__icon">
          <div class="block__about">
            <div class="about__title">
              Используйте понятный интерфейс
            </div>
            <div class="about__text">
              Мы разработали интуитивный и простой интерфейс, к которому можно легко привыкнуть за минимальное количество времени.
            </div>
          </div>
        </div>

        <div class="module-3__block">
          <img src="assets/svg/block_illustration2.svg" class="block__icon">
          <div class="block__about">
            <div class="about__title">
              Держите документы в порядке
            </div>
            <div class="about__text">
              Вы можете загружать документы и файлы в проекты, борды и дискуссии и делиться ими с коллегами. Также Gerda может служить архивом для файлов вашего проекта.
            </div>
          </div>
        </div>

        <div class="module-3__block">
          <img src="assets/svg/block_illustration3.svg" class="block__icon">
          <div class="block__about">
            <div class="about__title">
              Работайте в любой точке планеты
            </div>
            <div class="about__text">
              Ваша команда работает по всему миру? Сохраняйте связь с коллегами вне зависимости от места положения и коммуницируйте синхронно, не упуская деталей проекта.
            </div>
          </div>
        </div>

        <div class="module-3__block">
          <img src="assets/svg/block_illustration4.svg" class="block__icon">
          <div class="block__about">
            <div class="about__title">
              Получайте ежемесячные отчеты
            </div>
            <div class="about__text">
              Регулярные отчеты состоят из всех необходимых вам деталей и информации по проекту. Вы можете их использовать для анализа своей продуктивности и делиться ими с коллегами.
            </div>
          </div>
        </div>

        <div class="module-3__block">
          <img src="assets/svg/block_illustration5.svg" class="block__icon">
          <div class="block__about">
            <div class="about__title">
              Используйте интеграции
            </div>
            <div class="about__text">
              Интегрируйте ваши проекты с инструментами Google и другими популярными сервисами. Вы также можете подключить множество сервисов с помощью Zapier или API.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>